.list-image {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

    padding: 5px;
    margin: 0 auto;
    width: 80%;
}
.item {
    
    margin: 5px;
    width: 200px;
    height: 130px;
}